@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
    Layout = "default.cshtml";
    ViewBag.Title = "About Filip Ekberg";
    ViewBag.MetaDescription = "About Filip Ekberg";
}
<div class="post">
    <h1><a href="http://www.filipekberg.se/about-filip/">About Filip</a></h1>
    <p>Filip is a Software Engineer working with various techniques such as C#, WPF, WCF, ASP.NET MVC, ASP.NET and much more. Currently working for Readify in Sydney as a Senior Developer.</p>
    <p>In January 2013 Filip was awarded Microsoft Most Valuable Professional in Visual C#.</p>
    <p><a href="http://mvp.microsoft.com/en-us/mvp/Filip%20Ekberg-4040071" style="padding-left: 4px;"><img src="http://cdn.filipekberg.se/fekberg-blog/wp-content/uploads/2013/01/MVP_Logo_Small.png" alt="Filip Ekberg Microsoft MVP"></a></p>
    <p><a href="http://www.filipekberg.se/2013/07/15/this-is-my-story-part-1/" target="_blank">Read about my story here</a> and read about <a href="http://www.filipekberg.se/2012/08/27/self-publishing-a-book-part-1-where-it-all-began/">how I self-published a book</a>.</p>
    <p>During his years of Programming, Filip has managed to accomplish some of the following:</p>
    <ul>
        <li>Software Engineering Degree @@ Blekinge Institute of Technology</li>
        <li>Managing the Software Development Company SmartIT eSolutions Sweden which focused mainly on developing software and websolutions.</li>
        <li>Working as an Amanuensis ( Teacher ) @@ Blekinge Institute of Technology teaching Java, C++, Sql and Network-programming.</li>
    </ul>
    <p>Most recently Filip authored the book about C# programming called <a href="http://www.amazon.com/C-Smorgasbord-Filip-Ekberg/dp/1468152106/">C# Smorgasbord</a>.</p>
    <p><a href="http://cdn.filipekberg.se/fekberg-blog/Filip_Ekberg_CV_2014.pdf">Download Filip's CV here.</a></p>
    <p>
        If you want to contact me use any of these three methods:<br />
        Twitter: <a href="http://www.twitter.com/fekberg">@@fekberg</a><br />
        E-mail: mail@@filipekberg.se<br />
        LinkedIn: <a href="http://se.linkedin.com/pub/filip-ekberg/5/7b7/77a ">Filip Ekberg</a>
    </p>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".post h2:first").hide();
            $("#respond").hide();
            $("#start").removeClass("current"); $("#about-filip").addClass("current");
        });
    </script>
}
