@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
    Layout = "default.cshtml";
    ViewBag.Title = "Contact Filip Ekberg";
    ViewBag.MetaDescription= "Need Help Building Great Software? Contact Filip Ekberg Today!";
}

<div class="post">
    <h1><a href="http://filipekberg.se/contact-filip/">Contact Filip</a></h1>

    <p><strong>You can contact me the following ways</strong></p>
    <p>
        Twitter: <a href="http://www.twitter.com/fekberg">@@fekberg</a><br />
        E-mail: mail@@filipekberg.se<br />
        LinkedIn: <a href="http://se.linkedin.com/pub/filip-ekberg/5/7b7/77a ">Filip Ekberg</a>
    </p>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function ()
        { $(".post h2:first").hide(); $("#respond").hide(); $("#start").removeClass("current"); $("#contact").addClass("current"); });
    </script>
}
