<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
   
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />
    <staticContent>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
    </staticContent>
    
    <rewrite>
      <rules>

      <clear />
      <rule name="Redirect non-www OR non-https to https://www">
        <match url=".*" />
        <conditions logicalGrouping="MatchAny">
          <add input="{HTTP_HOST}" pattern="^filipekberg.se$" />
        </conditions>
        <action type="Redirect" url="http://www.filipekberg.se/{R:0}" redirectType="Permanent"/>
      </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
