<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
   
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />
    <staticContent>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
    </staticContent>
    
    <rewrite>
      <rules>

      <clear />
      <rule name="Redirect to www - http" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
          <add input="{HTTP_HOST}" pattern="^filipekberg\.se$" />
          <add input="{HTTPS}" pattern="off" />
        </conditions>
        <action type="Redirect" url="https://www.filipekberg.se/{R:1}" />
      </rule>
      <rule name="Redirect to www - https" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
          <add input="{HTTP_HOST}" pattern="^filipekberg\.se$" />
          <add input="{HTTPS}" pattern="on" />
        </conditions>
        <action type="Redirect" url="https://www.filipekberg.se/{R:1}" />
      </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
