<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
   
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />
    <staticContent>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
    </staticContent>
    
    <rewrite>
      <rules>

      <clear />
      <rule name="non-www-https to www https" enabled="true" stopProcessing="true">
        <match url=".*" />
        <conditions>
          <add input="{HTTP_HOST}" pattern="^[^\.]+\.[^\.]+$" />
          <add input="{HTTPS}" pattern="on" />
        </conditions>
        <action type="Redirect" url="https://www.{HTTP_HOST}/{R:0}" />
      </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
