{
  "blogTitle": "Filip Ekberg's Blog",
  "siteUrl": "https://www.filipekberg.se",
  "author": "Filip Ekberg",
  "email": "mail@filipekberg.se",
  "posts": "_posts",
  "layouts": "_layouts",
  "theme": "fekberg",
  "output": "Website",
  "urlFormat": "yyyy/MM/dd/slug",
  "directoryname": "",
  "pageSize": 30,
  "feedSize": 30,
  "copyDirectories": [
    "images",
    "uploads",
    "js",
    "fonts",
    "css",
    ".well-known"
  ],
  "processFiles": [{
    "file": "index.cshtml",
    "loop": "Posts"
  },{
    "file": "category.cshtml",
    "loop": "Categories"
  },{
    "file": "categories.cshtml => category"
  },{
    "file": "archive.cshtml"
  },
  {
    "file": "my-book.cshtml => my-book"
  },{
    "file": "about-filip.cshtml => about-filip"
  },{
    "file": "contact-filip.cshtml => contact-filip"
  },{
    "file": "rss.xml",
    "loop": "rss"
  },{
    "file": "sitemap.xml => sitemap",
    "loop": "sitemap"
  },
  {
    "file": "feed.xml",
    "loop": "atom"
  }]
}
