{
  "blogTitle": "Filip Ekberg's Blog",
  "siteUrl": "http://blog.filipekberg.se",
  "author": "Filip Ekberg",
  "email": "mail@filipekberg.se",
  "posts": "_posts",
  "layouts": "_layouts",
  "theme": "fekberg",
  "output": "../",
  "urlFormat": "yyyy/MM/dd/slug",
  "directoryname": "",
  "copyDirectories": [
    "images",
    "uploads",
    "js",
    "fonts",
    "css",
  ],
  "processFiles": [{
    "file": "index.cshtml",
    "loop": "Posts"
  },{
    "file": "category.cshtml",
    "loop": "Categories"
  },{
    "file": "categories.cshtml => category"
  },{
    "file": "archive.cshtml"
  },{
    "file": "my-book.cshtml => my-book"
  },{
    "file": "about-filip.cshtml => about-filip"
  },{
    "file": "contact-filip.cshtml => contact-filip"
  },{
    "file": "rss.xml => rss",
    "loop": "RSS"
  },{
    "file": "feed.xml => feed",
    "loop": "atom"
  }]
}